.footer {
  padding: 10px 24px;
  background-color: $dark;
  min-height: 230px;

  &__top {
    align-items: center;
    margin-bottom: 50px;
  }

  &__logo {
    img {
      width: 200px;
      height: 100px;

      @media (max-width: $md-breakpoint) {
        width: 110px;
        height: 60px;
      }
    }
  }

  &__copyright {
    color: $text-color-light;

    @media (max-width: $md-breakpoint) {
      font-size: 16px;
    }
  }

  &__year {
    font-size: inherit;
  }

  &__privacy {
    text-align: right;
    font-size: 21px;
    line-height: 32px;

    a {
      color: $text-color-light;
    }

    @media (max-width: $md-breakpoint) {
      font-size: 16px;
      text-align: left;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__sociall {
    width: 40px;
    height: 40px;

    color: $text-color-light;
    transition: color 300ms;

    &:hover {
      color: $green;
    }

    @media (max-width: $md-breakpoint) {
      height: 20px;
      width: 20px;
    }

    &--facebook {
      width: 20px;

      @media (max-width: $md-breakpoint) {
        width: 10px;
      }
    }
  }
}
