.footer {
  background-color: $dark;
  min-height: 230px;

  &__top {
    align-items: center;
    margin-bottom: 50px;
  }

  &__logo {
    img {
      width: 200px;
      height: 100px;

      @media (max-width: 767px) {
        width: 110px;
        height: 60px;
      }
    }
  }

  &__copyright {
    color: #fff;

    @media (max-width: 767px) {
      font-size: 16px;
    }
  }

  &__privacy {
    text-align: right;
    font-size: 21px;
    line-height: 32px;

    a {
      color: #fff;
    }

    @media (max-width: 767px) {
      font-size: 16px;
      text-align: left;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__linkedin {
    width: 40px;
    height: 40px;
    background-image: url("../images/footer/linkedin.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: 767px) {
      height: 25px;
    }
  }

  &__facebook {
    width: 40px;
    height: 40px;
    background-image: url("../images/footer/facebook.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: 767px) {
      height: 25px;
    }
  }

  &__instagram {
    width: 40px;
    height: 40px;
    background-image: url("../images/footer/instagram.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @media (max-width: 767px) {
      height: 25px;
    }
  }

  &__youtube {
    width: 50px;
    height: 35px;
    background-image: url("../images/footer/youtube.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @media (max-width: 767px) {
      height: 25px;
    }
  }
}
