.footer {
  background-color: $dark;
  min-height: 230px;

  &__top {
    align-items: center;
    margin-bottom: 50px;
  }

  &__logo {
    img {
      width: 200px;
      height: 100px;

      @media (max-width: 767px) {
        width: 110px;
        height: 60px;
      }
    }
  }

  &__copyright {
    color: #fff;

    @media (max-width: 767px) {
      font-size: 16px;
    }
  }

  &__privacy {
    text-align: right;
    font-size: 21px;
    line-height: 32px;

    a {
      color: #fff;
    }

    @media (max-width: 767px) {
      font-size: 16px;
      text-align: left;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    fill: white;
  }

  &__social {
    width: 40px;
    height: 40px;
    fill: white;

    @media (max-width: 767px) {
      height: 25px;
    }

    &--facebook {
      width: 20px;
    }
  }
}
