.gallery {
  &__controls {
    margin-bottom: 90px;
  }

  &__button-wrp {
    position: relative;
    height: 160px;
  }

  &__button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    color: $text-color-light;
    font-size: 50px;
    border: none;
    outline: none;
    background-color: transparent;
    @extend %h2;

    &::after {
      content: "";
      position: absolute;
      bottom: -30px;
      left: 50%;
      width: 0;
      height: 10px;
      background-color: $red-medium;
      border-radius: 5px;
      transform: translateX(-50%);
      transition: width 0.3s;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: calc(100% - 20px);
      height: 100%;
      background-color: #fff;
      opacity: 0.4;
      transform: translateX(-50%);
      transition: width 0.3s;
    }

    &:hover::before {
      width: 0;
    }

    &:focus {
      outline: none;
    }

    &--active {
      &::before {
        width: 0;
      }

      &::after {
        width: calc(100% - 20px);
      }
    }
  }

  &__button-img {
    position: absolute;
    top: 0;
    left: 50%;
    width: calc(100% - 20px);
    height: inherit;
    border-radius: 20px;
    transform: translateX(-50%);
  }

  &__photo-item {
    margin-bottom: 20px;
  }

  &__photo-wrp {
    position: relative;
    width: inherit;
    height: inherit;
    overflow: hidden;
  }

  &__photo {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: inherit;
    width: inherit;
    border-radius: 20px;
    transition: transform 0.6s;
    transform: translateY(100%);

    &--show {
      transform: translateY(0);
    }

    &--large-height {
      height: 621px;
    }

    &--small-height {
      height: 298px;
    }
  }

  @media (max-width: 994px) {
    &__controls {
      margin-bottom: 62px;
    }

    &__button-wrp {
      height: 100px;
    }

    &__button {
      font-size: 35px;

      &::after {
        bottom: -15px;
        height: 5px;
      }
    }

    &__group {
      padding-left: 0;
      padding-right: 0;
    }

    &__photo-item {
      height: 250px;
      margin-bottom: 15px;
    }
  }

  @media (max-width: 680px) {
    &__controls {
      margin-bottom: 42px;
    }

    &__button-wrp {
      height: 70px;
    }

    &__button {
      font-size: 28px;
    }

    &__photo-item {
      height: 127px;
      margin-bottom: 10px;
    }
  }
}
