.gallery {
  &__controls {
    margin-bottom: 90px;
  }

  &__button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    color: $text-color-light;
    font-size: 50px;
    border: none;
    outline: none;
    background-color: transparent;

    &::after {
      content: "";
      position: absolute;
      bottom: -30px;
      left: 50%;
      width: 0;
      height: 10px;
      background-color: $red-medium;
      border-radius: 5px;
      transform: translateX(-50%);
      transition: width 0.3s;
    }

    @extend %h2;

    @extend %h2;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: calc(100% - 20px);
      height: 100%;
      background-color: #fff;
      opacity: 0.4;
      transform: translateX(-50%);
      transition: width 0.3s;
    }

    &:hover::before {
      width: 0;
    }

    &:focus {
      outline: none;
    }

    &--active {
      &::before {
        width: 0;
      }

      &::after {
        width: calc(100% - 20px);
      }
    }

    &--wrp {
      position: relative;
      height: 160px;
    }
  }

  &__button-img {
    position: absolute;
    top: 0;
    left: 50%;
    width: calc(100% - 20px);
    height: inherit;
    border-radius: 20px;
    transform: translateX(-50%);
  }

  &__photo {
    display: none;
    object-fit: cover;
    height: inherit;
    width: inherit;
    border-radius: 20px;

    &--show {
      display: block;
    }

    &--wrp {
      margin-bottom: 20px;
    }

    &--large-height {
      height: 621px;
    }

    &--small-height {
      height: 298px;
    }
  }

  @media (max-width: 994px) {
    &__controls {
      margin-bottom: 62px;
    }

    &__button::after {
      bottom: -15px;
      height: 5px;
    }

    &__group {
      padding-left: 0;
      padding-right: 0;
    }

    &__photo {
      &--wrp {
        height: 127px;
        margin-bottom: 10px;
      }
    }
  }

  @media (max-width: 680px) {
    &__controls {
      margin-bottom: 42px;
    }

    &__button {
      font-size: 28px;

      &--wrp {
        height: 79px;
      }
    }

    &__button-img {
      height: 79px;
    }
  }
}
