.gallery {
  &__controls {
    margin-bottom: 90px;
  }

  &__button {
    position: relative;
    height: 160px;
    color: $text-color-light;
    font-size: 50px;
    border: none;
    border-radius: 10px;

    @extend %h2;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      height: 100%;
      background: #fff;
      opacity: 0.4;
      transform: translateX(-50%);
      transition: width 0.3s;
    }

    &:hover::before {
      width: 0;
    }

    &--kyiv {
      background: url("./../images/whereToFind/kyiv/0.png") center no-repeat;
    }

    &--barcelona {
      background: url("./../images/whereToFind/barcelona/0.png") center no-repeat;
    }
  }

  &__photo {
    object-fit: cover;
    height: inherit;
    width: inherit;
    border-radius: 10px;

    &--wrp {
      margin-bottom: 20px;
    }

    &--large-height {
      height: 621px;
    }

    &--small-height {
      height: 298px;
    }
  }
}
