.in-news {
  padding: 90px 48px 60px;
  text-align: center;

  &__title {
    margin-bottom: 22px;
    font-size: 52px;
    color: $title-color-dark;
  }

  &__description {
    margin-bottom: 45px;
    font-size: 24px;
    color: $text-color-dark;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 421px);
    column-gap: 20px;
  }

  @media (max-width: 960px) {
    grid-template-rows: ;
  }
}
