.news {
  border-radius: 20px;
  @include hover(box-shadow, 10px 5px 5px black);

  &--crunch {
    @include news-card($card-color-crunch, $text-color-crunch);
    @include font-style-bold(42px, 55px);
  }

  &--forbes {
    @include news-card($card-color-forbes, $text-color-forbes);
    @include font-style-bold(35px, 45px);
  }

  &--edsurge {
    @include news-card($card-color-edsurge, $text-color-edsurge);
    @include font-style-bold(30px, 42px);
  }

  &__wrapper {
    height: 100%;

    padding: 77px 20px 50px 35px;
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  &__quotes {
    font-weight: 700;
    font-size: 144px;
    line-height: 60px;
  }

  &__description {
    margin-bottom: 40px;

    color: $text-color-dark;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
  }

  &__bottom {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;
  }

  &__image-wrapper {
    height: 65px;
    line-height: 65px;
  }

  &__image {
    vertical-align: middle;
    object-fit: contain;
  }

  @media (max-width: 640px) {
    &__quotes {
      font-size: 100px;
      line-height: 40px;
    }

    &--green {
      font-size: 28px;
      line-height: 37px;
    }

    &--gray {
      font-size: 26px;
      line-height: 34px;
    }

    &--blue {
      font-size: 22px;
      line-height: 34px;
    }

    &__wrapper {
      padding: 77px 20px 50px 35px;
    }

    &__image-wrapper {
      height: 40px;
      line-height: 40px;
    }

    &__image {
      max-height: 40px;
      max-width: 180px;
    }
  }
}
