.news {
  border-radius: 20px;

  &--green {
    @include news-card(rgba(0, 152, 0, 0.19), #009800);
    @include font-style-bold(42px, 55px);
  }

  &--gray {
    @include news-card(rgba(60,59,59,0.19), #3C3B3B);
    @include font-style-bold(35px, 45px);
  }

  &--blue {
    @include news-card(rgba(0, 153, 138, 0.14) ,#00998A);
    @include font-style-bold(30px, 42px);
  }

  &__wrapper {
    height: 100%;

    padding: 77px 10px 50px 45px;
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  &__quotes {
    font-weight: 700;
    font-size: 144px;
    line-height: 60px;
  }

  &__description {
    margin-bottom: 40px;

    color: $text-color-dark;
    font-size: inherit;
    line-height: inherit;
  }

  &__bottom {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;
  }

  &__image {
    height: 65px;
    object-fit: none;
    object-position: 0;
  }
}
