.people-behind {
  padding: 90px 48px 60px;
  text-align: center;

  &__title {
    margin-bottom: 22px;
    @include title($title-color-dark);
  }

  &__description {
    margin-bottom: 45px;
    @include description($text-color-dark);
  }

  &__img {
    object-fit: cover;
    height: inherit;
    width: inherit;
    border-radius: $image-border-radius;

    &--wrp {
      height: 300px;
      margin-bottom: 20px;
    }
  }

  @media (max-width: 995px) {
    padding: 50px 24px;

    &__title {
      margin-bottom: 21px;
      font-size: 38px;
    }

    &__description {
      margin-bottom: 35px;
      font-size: 16px;
    }

    &__img--wrp {
      height: 180px;

      &:first-child {
        order: -2;
      }

      &:nth-child(4) {
        order: -1;
      }
    }
  }

  @media (max-width: 495px) {
    &__img--wrp {
      height: 80px;
    }
  }
}
