.perks {
  padding: 50px;
  text-align: center;

  &__title {
    margin-bottom: 22px;
    font-size: 52px;
    @include title($title-color-dark);
  }

  &__description {
    margin-bottom: 45px;
    @include description($title-color-dark);
  }

  &__perk {
    margin-bottom: 52px;
  }

  @media (max-width: $xl-breakpoint) {
    padding: 24px;

    &__title {
      margin-bottom: 32px;
      font-size: 38px;
    }

    &__description {
      margin-bottom: 30px;
      font-size: 16px;
    }
  }
}
