.perk {
  display: flex;
  align-items: flex-start;
  text-align: left;
  overflow: hidden;

  &__image {
    display: block;

    height: 44px;
    width: 44px;

    margin: 13px;
  }

  &__image-wrapper {
    margin-right: 18px;

    border-radius: 10px;

    &--dark {
      background-color: $red;
    }

    &--light {
      background-color: $red-light;
    }
  }

  &__title {
    margin-bottom: 10px;
    @include font-style-bold(24px, 26px);

    color: $title-color-dark;
  }

  &__description {
    @include font-style-normal(16px, 22px);
    color: $text-color-dark;
  }

  @media (max-width: $sm-breakpoint) {
    &__image {
      height: 35px;
      width: 35px;
      margin: 10px;
    }

    &__title {
      font-size: 20px;
    }
  }
}
