.promo {
  min-height: 630px;
  background: linear-gradient(180deg, rgba(47, 61, 77, 0.6) 0%,
  rgba(47, 61, 77, 0.3) 97.92%),
    url("../images/promo/bg-promo.jpg");
  background-size: cover;
  background-position: center;

  color: rgb(255, 255, 255);

  &__container {
    position: relative;
  }

  &__top {
    align-items: center;
    justify-content: space-between;

    margin-bottom: 100px;
  }

  &__logo {
    display: flex;
    justify-content: center;

    img {
      width: 200px;
      height: 100px;
    }
  }

  &__privacy {
    text-align: right;
    font-size: 21px;
    line-height: 32px;

    a {
      color: #fff;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__subtitle {
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
  }

  &__title {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 60px;
    line-height: 76px;
    text-align: center;

    margin-bottom: 60px;
  }

  &__glassdoor {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 300ms;

    &:hover {
      transform: scale(1.07);
    }

    &--big {
      background-image: url("../images/promo/glassdoor-big.svg");
      right: 0;
      height: 160px;
      width: 250px;

      p {
        font-weight: bold;
        font-size: 14px;
        color: #fff;
      }

      div {
        display: flex;
        align-items: flex-start;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    &--small {
      display: none;
      background-image: url("../images/promo/glassdoor-small.svg");
      bottom: -170px;
      left: calc(50% - 100px);
      width: 200px;
      height: 150px;

      p {
        font-size: 9px;
        text-align: center;
        color: #fff;
      }

      div {
        margin-bottom: 30%;
      }

      @media (max-width: 768px) {
        display: flex;
      }
    }
  }

  @media (max-width: 768px) {
    min-height: 455px;

    &__top {
      margin-bottom: 20px;
    }

    &__privacy {
      display: none;
    }

    &__subtitle {
      font-size: 18px;
    }

    &__title {
      font-size: 38px;
      line-height: 45px;
    }
  }
}
