.select {
  &:first-of-type {
    margin-bottom: 30px;
  }

  &__basic-option {
    width: 448px;
    height: 87px;
    padding: 0 39px;
    position: relative;

    background-color: $grey;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: 28px;
    line-height: 87px;
    color: #fff;

    cursor: pointer;
    transition: background-color 0.2s;

    &::after {
      content: url("../images/vacancies/arrow-down.svg");
      color: #fff;
      line-height: 1;

      position: absolute;
      top: 30px;
      right: 32px;
      z-index: 1;

      pointer-events: none;
    }

    &--open {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 10px 10px 0 0;

      &::after {
        transform: rotate(180deg);
      }
    }

    &:hover {
      background-color: rgba(85, 109, 132, 0.7);
    }

    &:focus {
      background-color: $grey;
      outline: none;
    }
  }

  &__options {
    position: absolute;
    z-index: 2;

    visibility: hidden;
    transition: opacity 0.3s;
    opacity: 0;
  }

  &__basic-option--open ~ .select__options {
    visibility: visible;
    opacity: 1;
  }

  &__option {
    padding: 0 39px;
    background-color: $grey;
    width: 448px;

    font-weight: 700;
    font-size: 28px;
    line-height: 87px;
    color: #fff;

    cursor: pointer;

    transition: transform 0.3s, opacity 0.3s;
    transform: translateY(-100%);
    opacity: 0;

    &:last-of-type {
      border-radius: 0 0 10px 10px;
    }

    &:hover {
      color: $green;
    }
  }

  &--dark .select__option {
    background-color: $dark;
  }

  &__basic-option--open ~ .select__options .select__option {
    transform: none;
    opacity: 1;

    @for $i from 1 to 10 {
      &:nth-child(#{$i + 1}) {
        transition-delay: #{0.05 * $i}s;
      }
    }
  }

  &--dark .select__basic-option {
    background-color: $dark;

    &:hover {
      background-color: rgba(47, 61, 77, 0.7);
    }

    &:focus {
      background-color: $dark;
    }
  }

  &--dark .select__options {
    z-index: 1;
  }
}
