.select {
  &:first-of-type {
    margin-bottom: 30px;
  }

  &__basic-option,
  &__option {
    position: relative;
    background-color: $grey;
    width: 448px;
    font-weight: 700;
    font-size: 28px;
    color: $text-color-light;
    cursor: pointer;

    @media (max-width: $md-breakpoint) {
      max-width: 90%;
      margin: 0 auto;
      width: 320px;
      font-size: 16px;
    }
  }

  &__basic-option {
    border-radius: 10px;
    border: none;
    border-bottom: 1px solid transparent;
    padding: 1em;

    transition: background-color 0.2s;

    &::after {
      content: url("../images/vacancies/arrow-down.svg");
      color: $text-color-light;
      line-height: 1;

      position: absolute;
      top: 30px;
      right: 32px;
      z-index: 1;

      pointer-events: none;

      transition: transform 300ms;

      @media (max-width: $md-breakpoint) {
        top: 15px;
        right: 15px;
        transform: scale(0.5);
      }
    }

    &--open {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 10px 10px 0 0;

      &::after {
        transform: rotate(180deg);

        @media (max-width: $md-breakpoint) {
          transform: rotate(180deg) scale(0.5);
        }
      }
    }

    &:hover {
      background-color: rgba(85, 109, 132, 0.7);
    }

    &:focus {
      background-color: $grey;
      outline: none;
    }
  }

  &__options {
    position: absolute;
    z-index: 2;

    visibility: hidden;
    transition: opacity 0.3s;
    opacity: 0;
  }

  &__basic-option--open ~ .select__options {
    visibility: visible;
    opacity: 1;
  }

  &__option {
    padding: 15px 39px;
    transition: transform 0.3s, opacity 0.3s;
    transform: translateY(-100%);
    opacity: 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (max-width: $md-breakpoint) {
      padding: 10px 20px;
    }

    &:first-of-type {
      padding-top: 30px;

      @media (max-width: $md-breakpoint) {
        padding-top: 15px;
      }
    }

    &:last-of-type {
      padding-bottom: 30px;
      border-radius: 0 0 10px 10px;

      @media (max-width: $md-breakpoint) {
        padding-bottom: 20px;
      }
    }

    &:hover {
      color: $green;
    }
  }

  &--dark .select__option {
    background-color: $dark;
  }

  &__basic-option--open ~ .select__options .select__option {
    transform: none;
    opacity: 1;

    @for $i from 1 to 10 {
      &:nth-child(#{$i + 1}) {
        transition-delay: #{0.05 * $i}s;
      }
    }
  }

  &--dark .select__basic-option {
    background-color: $dark;

    &:hover {
      background-color: rgba(47, 61, 77, 0.7);
    }

    &:focus {
      background-color: $dark;
    }
  }

  &--dark .select__options {
    z-index: 1;
  }
}
