.slogan {
  --slogan-after-opacity: 0;
  --slogan-after-transform: translateY(20%);

  position: relative;
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 0 47px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: var(--slogan-after-opacity);
    transform: var(--slogan-after-transform);
    transition: $scroll-transform-transition, $scroll-opacity-transition;
  }

  &--green::after {
    background-color: $green;
  }

  &--red::after {
    background-color: $red-light;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    min-height: 460px;
  }

  &__text {
    display: block;
    color: white;
  }

  &__title {
    margin-bottom: 31px;
  }

  &__img {
    align-self: flex-end;

    &--center {
      align-self: center;
    }
  }

  &__btn {
    margin-top: 8px;
  }

  @media (max-width: 1200px) {
    padding: 0 20px;
    padding-top: 33px;

    &__title {
      margin-bottom: 21px;
    }

    &__text {
      margin-bottom: 20px;
      text-align: center;
    }
  }

  @media (max-width: 500px) {
    &__wrapper {
      min-height: 375px;
    }

    &__title {
      font-size: 38px;
      line-height: 45px;
    }

    &__description {
      font-size: 16px;
      line-height: 26px;
    }

    &__btn {
      font-size: 20px;
    }
  }
}
