.vacancies {
  padding: 93px 47px 60px;
  position: relative;
  z-index: 1;

  &__wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
  }

  &__list {
    text-align: center;
    margin-top: 63px;
  }

  &__item {
    min-height: 70px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid $select-border-color;
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;

    &:last-of-type {
      border-bottom: none;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
      font-size: 18px;
      line-height: 32px;
    }
  }

  &__position {
    max-width: 65%;
    font-weight: 700;
    line-height: 1.3em;
    color: $text-color-dark;
  }

  &__location {
    width: 20%;
    text-align: left;
    font-weight: 700;
    line-height: 1.3em;
    color: $location-color;

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  &__apply {
    display: flex;
    justify-content: flex-end;
  }

  &__link {
    font-family: Roboto, serif;
    font-size: 24px;
    width: 100%;
    color: $green;
    font-weight: 700;
    outline: none;
    text-align: right;

    transition: color 0.3s;

    &:hover {
      color: $green-light;
    }

    &:focus {
      color: $green-light;
      outline: none;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }

  &__arrow {
    background-image: url("../images/vacancies/arrow-right.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 7px;
    height: 15px;
    display: none;

    @media (max-width: $md-breakpoint) {
      display: block;
    }
  }

  &__error {
    text-align: center;
  }

  @media (max-width: $lg-breakpoint) {
    padding: 47px 20px;
  }

  @media (max-width: $sm-breakpoint) {
    padding: 47px 20px;
  }
}
