.value {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;

  &__main {
    position: relative;
    transform: translateX(0);
    opacity: 1;
    transition: opacity 0.5s, transform 0.5s, visibility 0s linear 0s;
  }

  &__image {
    box-sizing: content-box;
    float: right;
    border-radius: $image-border-radius;
    object-fit: contain;
    object-position: bottom right;
    width: auto;
    height: 300px;
  }

  &--customer {
    background-color: $card-customer-color;
  }

  &--human {
    background-color: $card-human-color;

    >.value__main {
      >.value__image {
        padding-top: 20px;
      }
    }
  }

  &--hackers {
    background-color: $card-hackers-color;
  }

  &--hungry {
    background-color: $card-hungry-color;
  }

  &--humble {
    background-color: $card-humble-color;
  }

  &--curious {
    background-color: $card-curious-color;
  }

  &__additional {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    opacity: 0;
    color: $text-color-light;
    padding: 120px 20px 0;
    transform: translateX(-100px);
    visibility: hidden;
    transition: opacity 0.5s, transform 0.5s, visibility 0s linear 700ms;

    &--title {
      margin-bottom: 10px;
      @include font-style-bold(32px, 12px);
    }

    &--text {
      @include font-style-normal(24px, 36px);
    }
  }

  &:hover {
    >.value__main {
      visibility: hidden;
      opacity: 0;
      transform: translateX(100px);
      transition: opacity 0.5s, transform 0.5s, visibility 0s linear 700ms;
    }

    >.value__additional {
      visibility: visible;
      transform: translateX(0);
      opacity: 1;
      transition: opacity 0.5s, transform 0.5s, visibility 0s linear 0s;
    }
  }

  &__title {
    position: absolute;
    top: 20px;
    @include font-style-bold(32px, 55px);
    writing-mode: vertical-lr;
    text-align: right;
    color: $text-color-light;
    transform: rotate(180deg);
  }

  @media (max-width: $xl-breakpoint) {
    &__image {
      height: 265px;
    }
  }

  @media (max-width: $md-breakpoint) {
    &__title {
      font-size: 20px;
      line-height: 30px;
    }

    &__image {
      height: 150px;
    }
  }

  @media (max-width: $sm-breakpoint) {
    &__title {
      font-size: 14px;
      line-height: 20px;
    }

    &__image {
      height: 100%;
      width: 90%;
    }
  }
}
