.value {
  display: flex;
  justify-content: space-between;
  padding: 30px 10px 0;
  background-color: black;
  border-radius: 20px;

  &__title {
    writing-mode: vertical-lr;
    text-align: end;
    font-size: 32px;
    color: white;
    transform: rotate(180deg);
  }

  &__image {
    display: block;
    height: 265px;
    width: 325px;
  }
}
