.what-we-value {
  padding: 90px 48px 60px;
  text-align: center;

  &__title {
    margin-bottom: 22px;
    @include title($title-color-dark);
  }

  &__description {
    margin-bottom: 45px;
    @include description($text-color-dark);
  }

  @media (max-width: $lg-breakpoint) {
    padding: 50px 20px;
  }
}
