.where-to-find {
  padding: 50px;
  text-align: center;

  &__title {
    margin-bottom: 38px;
    @include title($title-color-dark);
  }

  &__description {
    margin-bottom: 60px;
    @include description($text-color-dark);
  }

  &__hint {
    @include description($text-color-dark);
  }

  &__gallery {
    margin-bottom: 60px;
    width: 100%;
  }

  @media (max-width: $lg-breakpoint) {
    padding: 24px;

    &__title {
      margin-bottom: 32px;
      font-size: 38px;
    }

    &__description {
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 26px;
    }

    &__hint {
      font-size: 16px;
      line-height: 26px;
    }

    &__gallery {
      margin-bottom: 38px;
    }
  }
}
