.btn {
  padding: 15px 55px;
  border-radius: 10px;
  background-color: $green;

  color: $text-color-light;
  font-weight: 500;

  &:hover {
    background-color: $green-light;
    color: $text-color-light;
  }

  &:focus {
    background-color: $text-color-light;
    color: $green;
  }

  &--light {
    background-color: $text-color-light;
    color: $btn-light-text;

    &:focus {
      background-color: $dark;
      color: $text-color-light;
    }
  }

  @media (max-width: $lg-breakpoint) {
    padding: 15px 45px;
    font-size: 17px;
  }
}
