$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1328px,
);

$grid-gutter-width: 20px;

@import "node_modules/bootstrap/scss/bootstrap";
@import "reset";
@import "utils";
@import "fonts";
@import "typography";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  @extend %p;
}

@import "btn";
@import "slogan";
@import "./components/promo";
@import "./components/people-behind";
@import "./components/perks";
@import "./components/perk";
@import "./components/where-to-find";
@import "./components/gallery";
@import "vacancies";
@import "select";
@import "./components/in-news";
@import "./components/news";
@import "./components/footer";
@import "./components/scroll-section";
