$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1328px,
);

$grid-gutter-width: 20px;

@import "node_modules/bootstrap/scss/bootstrap";
@import "reset";
@import "utils";
@import "fonts";
@import "typography";

body {
  background: $c-gray;
  @extend %p;
}

@import "btn";
@import "slogan";
@import "./components/people-behind";
@import "./components/where-to-find";
@import "./components/gallery";
@import "vacancies";
@import "select";
