.select {
  margin-bottom: 30px;

  &__basic-option,
  &__option {
    padding: 25px 39px;
    width: 448px;
    height: 87px;
    font-size: 28px;
    background-color: $grey;
    font-weight: 700;
    color: #fff;
    cursor: pointer;

    @media (max-width: 767px) {
      width: 320px;
      height: 50px;
      font-size: 16px;
      padding: 10px 20px;
    }
  }

  &__basic-option {
    position: relative;

    border-radius: 10px;
    border: none;

    transition: background-color 0.2s;

    &::after {
      content: url("../images/vacancies/arrow-down.svg");
      color: #fff;
      line-height: 1;

      position: absolute;
      top: 30px;
      right: 32px;
      z-index: 3;

      pointer-events: none;

      @media (max-width: 767px) {
        top: 20px;
      }
    }

    &--open {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 10px 10px 0 0;

      &::after {
        transform: rotate(180deg);
      }
    }

    &:hover {
      background-color: rgba(47, 61, 77, 0.7);
    }

    &:focus {
      background-color: $grey;
      outline: none;
    }
  }

  &__options {
    display: none;

    position: absolute;
    z-index: 4;
  }

  &__basic-option--open ~ .select__options {
    display: block;
  }

  &__option {
    &:last-of-type {
      border-radius: 0 0 10px 10px;
    }

    &:hover {
      color: $green;
    }
  }

  &--dark .select__basic-option {
    background-color: $dark;

    &:hover {
      background-color: rgba(47, 61, 77, 0.7);
    }

    &:focus {
      background-color: $dark;
    }
  }

  &--dark .select__option {
    background-color: $dark;
  }
}
