.slogan {
  display: flex;
  align-items: center;
  position: relative;
  background-color: $green;
  padding: 0 47px;

  &--red {
    background-color: $red-light;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    min-height: 460px;
  }

  &__text {
    display: block;
    color: white;
  }

  &__title {
    margin-bottom: 31px;
  }

  &__img {
    align-self: flex-end;

    &--center {
      align-self: center;
    }
  }

  &__btn {
    margin-top: 8px;
  }

  @media (max-width: 1200px) {
    padding: 0 20px;
    padding-top: 33px;

    &__title {
      margin-bottom: 21px;
    }

    &__text {
      margin-bottom: 20px;
      text-align: center;
    }
  }

  @media (max-width: 500px) {
    &__wrapper {
      min-height: 375px;
    }

    &__title {
      font-size: 38px;
      line-height: 45px;
    }

    &__description {
      font-size: 16px;
      line-height: 26px;
    }

    &__btn {
      font-size: 20px;
    }
  }
}
