.slogan {
  min-height: 460px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: $green;

  &__wrapper {
    display: flex;
    align-items: center;
    min-height: 460px;
  }

  &__text {
    display: block;
    color: white;
  }

  &__title {
    margin-bottom: 31px;
  }

  &__img {
    // min-height: 100%;
    align-self: flex-end;
  }
}
