.vacancies {
  padding: 93px 47px 60px;

  &__wrapper {
    display: flex;
    justify-content: space-around;
  }

  &__list {
    margin-top: 93px;
  }

  &__item {
    border-bottom: 1px solid #cbd0d3;
  }

  &__position {
    font-weight: 700;
    line-height: 70px;
    color: $text-color-dark;
  }

  &__location {
    font-weight: 700;
    color: #b4bbbe;
  }

  &__btn {
    font-family: Roboto, serif;
    font-size: 24px;
    width: 100%;
    color: $green;
    font-weight: 700;
    text-align: right;
    outline: none;

    &:hover {
      color: $green-light;
    }

    &:focus {
      color: $green-light;
      outline: none;
    }
  }
}
