.vacancies {
  padding: 93px 47px 60px;

  &__wrapper {
    display: flex;
    justify-content: space-around;
  }

  &__list {
    margin-top: 93px;
  }

  &__item {
    border-bottom: 1px solid #cbd0d3;
    height: 70px;
    display: grid;
    grid-template-columns: 50% 1fr 1fr;
    align-items: center;

    &:last-of-type {
      border-bottom: none;
    }
  }

  &__position {
    font-weight: 700;
    color: $text-color-dark;
  }

  &__location {
    font-weight: 700;
    color: #b4bbbe;
  }

  &__apply {
    display: flex;
    justify-content: flex-end;
  }

  &__link {
    font-family: Roboto, serif;
    font-size: 24px;
    width: 100%;
    color: $green;
    font-weight: 700;
    outline: none;
    text-align: right;

    &:hover {
      color: $green-light;
    }

    &:focus {
      color: $green-light;
      outline: none;
    }
  }
}
