@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin newsCard($_backgrount-color, $_color, $_font-size) {
  background-color: $_backgrount-color;
  color: $_color;
  font-size: $_font-size;
}
