@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin news-card($_backgrount-color, $_color) {
  background-color: $_backgrount-color;
  color: $_color;
}

@mixin font-style-bold($_font-size, $_line-height) {
  font-size: $_font-size;
  line-height: $_line-height;
  font-weight: 700;
}

@mixin font-style-normal($_font-size, $_line-height) {
  font-size: $_font-size;
  line-height: $_line-height;
  font-weight: 400;
}

@mixin title($_color) {
  font-size: 52px;
  line-height: 45px;
  color: $_color;
}

@mixin description($_color) {
  font-size: 24px;
  line-height: 36px;
  color: $_color;
}
