$sm-breakpoint: 575px;
$md-breakpoint: 767px;
$lg-breakpoint: 991px;
$xl-breakpoint: 1199px;

$c-gray: #eee;

$dark: #2f3d4d;
$grey: #556d84;

$btn-light-text: #3e929b;
$green: #3bb3bd;
$green-light: #b6dadd;

$red: #d93d3d;
$red-light: #f26b5c;
$red-medium: #ff574d;

$title-color-dark: #000;
$text-color-dark: #3c4447;

$text-color-light: #fff;

$select-border-color: #cbd0d3;
$location-color: #b4bbbe;

$card-color-crunch: rgba(0, 152, 0, 0.19);
$card-color-forbes: rgba(60,59,59,0.19);
$card-color-edsurge: rgba(0, 153, 138, 0.14);
$text-color-crunch: #009800;
$text-color-forbes: #3c3b3b;
$text-color-edsurge: #00998a;

$image-border-radius: 20px;

$scroll-transform-transition: transform 0.5s cubic-bezier(0.3, 0.1, 0.3, 1);
$scroll-opacity-transition: opacity 0.7s cubic-bezier(0.3, 0.1, 0.3, 1);

$card-customer-color:#3d4d5f;
$card-human-color: $green;
$card-hackers-color: #6c7379;
$card-hungry-color: #b63333;
$card-humble-color: #755462;
$card-curious-color: $red-light;
