$c-gray: #eee;

$dark: #2f3d4d;
$grey: #556d84;

$green: #3bb3bd;
$green-light: #b6dadd;

$red: #d93d3d;
$red-light: #f26b5c;
$red-medium: #ff574d;

$title-color-dark: #000;
$text-color-dark: #3c4447;

$text-color-light: #fff;

$card-color-crunch: rgba(0, 152, 0, 0.19);
$card-color-forbes: rgba(60,59,59,0.19);
$card-color-edsurge: rgba(0, 153, 138, 0.14);
$text-color-crunch: #009800;
$text-color-forbes: #3c3b3b;
$text-color-edsurge: #00998a;

$image-border-radius: 20px;
